<!DOCTYPE html>
<html>
<head>
	<title>Login & Register</title>
	<link rel="stylesheet" type="text/css" href="./static/css/login.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>

	<div class="main">
		<div class="snow"></div>
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form method="POST" action="{{url_for('register')}}">
<div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                    <p class='flashes opacity my-1' style="font-size:15px;font-weight: bold;color:red; text-align:center">* {{ message }}</p>
                  {% endfor %}
               {% endif %}
            {% endwith %}
        </div>
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="username" placeholder="User name" required="required">
					<input type="date" name="age" placeholder=Age" required="required" >
					<input type="tel" name="tel" placeholder="Tel" required="required">
					<input type="email" name="email" placeholder="Email" required="required">
					<input type="password" name="pswd" placeholder="Password" required="required">
					<button>Sign up</button>
				</form>
			</div>

			<div class="login">
				<form method="POST" action="{{url_for('login')}}">

					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button>Login</button>
				</form>
			</div>
	</div>
</body>
</html>