<title>Text To Speech</title>
{%include 'header.html'%}
<style>
    input[type="file"]::-webkit-file-upload-button {
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    color: white;
    background:linear-gradient(to top, #38419D, #38419D, #24243e);
    transition: 1s;
    position:relative;
}
    input[type="submit"]{
    padding: 0.2em 0.4em;
    border-radius: 0.4em;
    color: white;
    background:linear-gradient(to top, #38419D, #38419D, #24243e);
    transition: 1s;
    position:relative;
}
</style>

<body>
        <div id="layoutError">
            <div id="layoutError_content">
                <main>

                    <div class="container">
                        <div>
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                  {% for message in messages %}
                                    <p class='flashes my-3' style="font-size:25px;color:red; text-align:center">{{ message }}</p>
                                  {% endfor %}
                               {% endif %}
                            {% endwith %}
                        </div>
                        <div class="bg-info bg-opacity-10 border border-info border-start-1 rounded my-5 container" style="width:12.5cm;">
                            <h6 class="mt-3 mx-3">You can extract text from PDF file.</h6>
                        <div style="display:flex; ">

                            <form action="/pdf-to-speech#Your" method="post" enctype="multipart/form-data" class="my-4 mx-4  ">
                                    <input class="mb-2" type="file" name="file" required multiple>
                                    <!-- Additional form elements can be added here -->
                                <input type="submit" value="Upload" >



                                    </form>
                            </div>
                        </div>

                            <form action="/pdf-to-speech#sound" method="post" enctype="multipart/form-data">
                                <div class="row justify-content">
                                <label for="exampleFormControlinput1" class="form-label py-3" style="resize: none;">Select a voice:</label>
                            {%for num in di%}
                            <div class="col-lg-3 my-1">


                                <p><input name="voice_num" id="exampleFormControlinput1" class=" mx-1 fs-1" title="Done" type="radio"
                                              value="{{di[num]}}" required>{{num}}</p>
                                </div>
                                {%endfor%}

<!--                            <div class="accordion" id="accordionPanelsStayOpenExample">-->
<!--                              <div class="accordion-item">-->
<!--                                <h2 class="accordion-header">-->
<!--                                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">-->
<!--                                    Accordion Item #1-->
<!--                                  </button>-->
<!--                                </h2>-->
<!--                                  {%for num in di%}-->
<!--                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">-->
<!--                                  <div class="accordion-body">-->
<!--                                    <strong>{{num}}</strong>-->
<!--                                  </div>-->
<!--                                </div>-->
<!--                                  {%endfor%}-->
<!--                              </div>-->
<!--                            </div>-->
<!--                           </div>-->


                        <div class="row justify-content-center">
                            <div class="mb-5">
                                  <label for="pdfToSpeech" class="form-label py-3" style="resize: none;" id="Your">Your Text:</label>

                                  <textarea name="textarea" class="form-control" id="pdfToSpeech" rows="6">{{text}}</textarea>

                                    <button class="btn btn-dark my-2" type="submit">OK</button>

                            </div>

<!--                            <embed src="{{sound_url}}" width="200" height="60" autostart="false" loop="true">-->
                            <audio controls id="sound">
                              <source src="{{sound_url}}" />
                            </audio>
                        </div>
                        </form>


                    </div>

                </main>
            </div>
            <div id="layoutError_footer">

{%include 'footer.html'%}
