<title>{{selected_year}}</title>

{%include 'header.html'%}
<!--google fonts-->
<!--google fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

<style>

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.rakkas-regular {
  font-family: "Rakkas", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

</style>

<main>


    <div class="container-fluid px-4 ">
        <h1 class="my-4  libre-baskerville-bold" style="color:#124076;">{{selected_year}}</h1>

        <div class="container-fluid px-4">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                    <p class='flashes opacity my-3' style="font-size:30px;font-weight: bold;color:green; text-align:center">{{ message }}</p>
                  {% endfor %}
               {% endif %}
            {% endwith %}
        </div>
        {%if  no_date%}
        <div class="lilita-one-regular">
            <h1 class=" small " style="color:red; ">You don't have any plan</h1>
        </div>
        {%endif%}

        <!-- considering current date -->
        {%for date in unique_todo_date%}

        {%if selected_year in date%}
                <div class="breadcrumb mb-1">
            {%if not "".join(date).split('-')[1] == "".join(unique_todo_date[unique_todo_date.index(date)-1]).split('-')[1]%}
            <ol class="mt-3 libre-baskerville-regular" style="color:#38419D">Your schedules for {{"".join(date).split('-')[1]|month_name}}</ol>
            {%endif%}
        </div>

        <div class="accordion mb-1" id="accordionTodo{{date}}">

                <div class="accordion-item">

                    {%if date == today%}
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed libre-baskerville-bold" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTodo{{date}}"
                                    aria-expanded="false" aria-controls="collapseTodo{{date}}" style="color:#379956;" >

                                Today
                            </button>
                        </h2>

                    {%elif date < today%}
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed libre-baskerville-bold" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTodo{{date}}"
                                    aria-expanded="false" aria-controls="collapseTodo{{date}}" style="color:#CCD3CA;" >

                                {{date}}
                            </button>
                        </h2>
                    {%else%}
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed libre-baskerville-bold" type="button" data-bs-toggle="collapse"
                                  data-bs-target="#collapseTodo{{date}}" aria-expanded="false"
                                  aria-controls="collapseTodo{{date}}" style="color:#124076;">
                            {{date}}
                          </button>
                        </h2>
                    {%endif%}

                    <!--Adding cards from Todos DB table in accordions-->
                    <div id="collapseTodo{{date}}" class="accordion-collapse collapse" data-bs-parent="#accordionTodo{{date}}" style="">
                        <div class="accordion-body">
                            <div class="row">
                                {%for item in todos%}
                                {%if user.id == item.user_id  %}
                                {%if item.due_date == date%}
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-primary text-white mb-4">
                                        <div class="card-body">

                                            <input  class=" mx-2" title="Done" type="checkbox"
                                             style="transform: scale(2);" onclick="window.location.assign('{{url_for('add_to_done',item_id=item.id)}}')">
                                            {{item.info[:10] + '...'}}


                                            <a href="{{url_for('del_item',item_id=item.id)}}">
                                                <i class="fa fa-star " title="Favorite" style="color:yellow;float:right;margin:1%;display:flex;"></i></a>
                                            <a href="{{url_for('edit',item_id=item.id)}}">
                                                <i class="fa fa-edit" title="Edit" style="color:orange;float:right;margin:1%;display:flex;"></i></a>
                                            <a href="{{url_for('del_item',item_id=item.id)}}">
                                                <i class="fa fa-trash" title="Delete" style="color:#D24545;float:right;margin:1%;display:flex;"></i></a>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white " href="{{url_for('details',item_id=item.id)}}">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                                {%endif%}
                                {%endif%}
                                {%endfor%}
                                {%for item in dones%}
                                {%if item.user_id == user.id%}
                                {%if date == item.due_date%}
                                  <a href="{{url_for('d',the_id=item.id)}}" style="color:white">
                                  <div style="padding-left:3%; margin-top:3% ;position:relative">

                                    <h5 style="color:gray;font-family: 'Merienda', cursive; color:#A8A196;
                                         font-size:18px;position:relative">


                                            <input checked disabled class="btn  mx-3" title="Done" type="checkbox"
                                               style="font_size:10%; accent-color: gray;display: inline;transform: scale(2);" >
                                        <del>{{item.title}}</del>
                                        <label class="fs-6 border:5px" title="Comments" style="color:#A8A196;" ><del>{{item.info[:20] + '...'}}</del></label>
                                    </h5>
                                      </div>
                                    </a>
                                {%endif%}
                                {%endif%}
                                {%endfor%}

                            </div>
                        </div>
                    </div>
                </div>
            {%endif%}
    {%endfor%}
    <!-- End accordion For Todos -->
    <!-- considering current date -->
<ol class="libre-baskerville-regular" style="color:red;margin-top:6%">Your Done schedules will appear here</ol>
        {%for date in unique_done_date%}

            {%if selected_year in date%}

            {%if date not in unique_todo_date%}


        <div class="accordion my-2" id="accordionDone{{date}}" >
                <div class="accordion-item " >

                    {%if date == today%}
                        <h2 class="accordion-header "  >
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseDone{{date}}"
                                    aria-expanded="false" aria-controls="collapseDone{{date}}" style="color:green;">
                                Everything is done for Today
                            </button>
                        </h2>
                    {%else%}
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                  data-bs-target="#collapseDone{{date}}" aria-expanded="false"
                                  aria-controls="collapseDone{{date}}" style="color:green;">
                            Everything is done for {{date}}
                          </button>
                        </h2>
                    {%endif%}

                    <!--Adding cards from Todos DB table in accordions-->
                    <div id="collapseDone{{date}}" class="accordion-collapse collapse" data-bs-parent="#accordionDone{{date}}" style="">
                        <div class="accordion-body">
                            <div class="row">
                                {%for item in todos%}
                        <!--done items doesn't appear in specific year page-->
                                {%if user.id == item.user_id  %}
                                {%if item.due_date == date%}
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-primary text-white mb-4">
                                        <div class="card-body">

                                            <input  class=" mx-2" title="Done" type="checkbox"
                                             style="transform: scale(2);" onclick="window.location.assign('{{url_for('add_to_done',item_id=item.id)}}')">
                                            {{item.info[:10] + '...'}}


                                            <a href="{{url_for('del_item',item_id=item.id)}}">
                                                <i class="fa fa-star " title="Favorite" style="color:yellow;float:right;margin:1%;display:flex;"></i></a>
                                            <a href="{{url_for('edit',item_id=item.id)}}">
                                                <i class="fa fa-edit" title="Edit" style="color:orange;float:right;margin:1%;display:flex;"></i></a>
                                            <a href="{{url_for('del_item',item_id=item.id)}}">
                                                <i class="fa fa-trash" title="Delete" style="color:#D24545;float:right;margin:1%;display:flex;"></i></a>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white " href="{{url_for('details',item_id=item.id)}}">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                                {%endif%}
                                {%endif%}
                                {%endfor%}
                                {%for item in dones%}
                                {%if item.user_id == user.id%}
                                {%if date == item.due_date%}
                                  <a href="{{url_for('d',the_id=item.id)}}" style="color:white">
                                  <div style="padding-left:3%; margin-top:3% ;position:relative">

                                    <h5 style="color:gray;font-family: 'Merienda', cursive; color:#A8A196;
                                         font-size:18px;position:relative">


                                            <input checked disabled class="btn  mx-3" title="Done" type="checkbox"
                                               style="font_size:10%; accent-color: gray;display: inline;transform: scale(2);" >
                                        <del>{{item.title}}</del>
                                        <label class="fs-6 border:5px" title="Comments" style="color:#A8A196;" ><del>{{item.info[:20] + '...'}}</del></label>
                                    </h5>
                                      </div>
                                    </a>
                                {%endif%}
                                {%endif%}
                                {%endfor%}

                            </div>
                        </div>
                    </div>
                </div>
            {%endif%}
            {%endif%}
    {%endfor%}
    <!-- End accordion For Todos -->
{%include 'footer.html'%}